PORT=3000
JWT_SECRET=
BCRYPT_SALT_ROUNDS=10

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

# CLOUDINARY_URL=cloudinary://<API_KEY>:<API_SECRET>@<CLOUD_NAME>
CLOUDINARY_API_KEY=<API_KEY>
CLOUDINARY_API_SECRET=<API_SECRET>
CLOUDINARY_CLOUD_NAME=<CLOUD_NAME>